<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <ul>
    <li><a th:href="'/information?foxName=' + ${loggedInFox.getName()}">Information</a></li>
    <li><a th:href="'/nutrition-store?foxName=' + ${loggedInFox.getName()}">Nutrition Store</a></li>
    <li><a th:href="'/trick-center?foxName=' + ${loggedInFox.getName()}">Trick Center</a></li>
  </ul>
  <img
    alt=""
    src="./green-fox.png"
    th:style="'width: 200px; height: 200px;'"
  >
  <p>
    This is <span th:text="${loggedInFox.getName()} ? ${loggedInFox.getName()} : 'Mr. Fox'"></span>.
    &nbsp;Currently living on <span th:text="${loggedInFox.getFood()}"></span> and <span th:text="${loggedInFox.getDrink()}"></span>.
    &nbsp;He knows 2 tricks.
  </p>
  <h2>Known tricks</h2>
  <ul>
    <li
      th:each="foxTrick : ${loggedInFox.getTricks()}"
      th:text="${foxTrick}"
    ></li>
  </ul>
</body>
</html>