<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <ul>
    <li><a href="">Information</a></li>
  </ul>
  <img
    alt=""
    src="./green-fox.png"
    th:style="'width: 200px; height: 200px;'"
  >
  <p>This is <span th:text="${foxName} ? ${foxName} : 'Mr. Fox'"></span>. Currently living on pizza and lemonade. He knows 2 tricks.</p>
  <h2>Known tricks</h2>
  <ul>
    <li>write HTML</li>
    <li>code in Java</li>
  </ul>
</body>
</html>