<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
  </head>
  <body>
    <h1>Things to do tonight:</h1>
    <% todos.map(todo => { %>
      <li><%= todo %></li>
    <% }) %>
  </body>
</html>
